*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.media{
    width: 70vh;
    max-width: 260px;
    margin-bottom: 20px;
}
img{
    width: 70vw;
    max-width: 260px;
    margin-bottom: 20px;
    background: #000;
}
video{
    display: none;
    border-radius: 12px;
}
#videoFinal {
  display: none;
}
h2{
    text-align: center;
    margin-bottom: 25px;
}
.opciones{
    width: 100%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
button{
    box-shadow: 0 8px 20px rgba(255, 105, 180, 0.45);
    color: white;
    background-color: #FF1493;
    width: 100%;
    padding: 18px;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}